ACTION!="add", GOTO="usbdux_end"
SUBSYSTEM=="usb_device", GOTO="usbdux_rules_real"
SUBSYSTEM=="usb", GOTO="usbdux_rules_real"
BUS!="usb", GOTO="usbdux_end"
LABEL="usbdux_rules_real"
SYSFS{idVendor}=="13d8", SYSFS{idProduct}=="0001", RUN+="/lib/udev/usbdux"
SYSFS{idVendor}=="13d8", SYSFS{idProduct}=="0002", RUN+="/lib/udev/usbdux"
SYSFS{idVendor}=="13d8", SYSFS{idProduct}=="0010", RUN+="/lib/udev/usbduxfast"
LABEL="usbdux_end"

KERNEL=="comedi[0-9]*", MODE="0666"
