Source: comedilib
Section: devel
Priority: optional
Maintainer: David Schleef <ds@schleef.org>
Build-Depends: debhelper, python-dev, docbook-utils
Standards-Version: 3.5.10

Package: libcomedi-dev
Section: libdevel
Architecture: any
Depends: libcomedi0 (= ${Source-Version}), libc6-dev
Conflicts: libcomedi0 (<= 0.7.19.1-1)
Replaces: libcomedi0 (<= 0.7.19.1-1)
Description: Development library for Comedi
 Comedilib is a library for using Comedi, a driver interface for data
 acquisition hardware.
 .
 This package contains headers, static libraries, documentation, and
 examples for writing software that uses the Comedilib library.  You
 only need to install it if you plan to develop or compile software
 that uses Comedilib.

Package: libcomedi0
Section: libs
Architecture: any
Depends: makedev (>=2.3.1-56), ${shlibs:Depends}
Description: Library for Comedi
 Comedilib is a library for using Comedi, a driver interface for data
 acquisition hardware.  Comedi supports a wide variety of ISA and PCI
 devices that contain analog-to-digital converters, digital-to-analog
 converters, digital input/output, counters and timers.  The full list
 of support devices can be found in the libcomedi-dev documentation.
 .
 This package contains the shared library component of Comedilib.  In
 general, this package will be automatically installed as a dependency
 of application or other library packages.
 .
 In order to effectively use this package, you need to have compiled
 and installed the Comedi kernel modules.  The source for Comedi is
 available in the comedi-source package, which also contains
 instructions on how to compile and install the modules.

Package: python-comedilib
Section: python
Architecture: any
Depends: ${shlibs:Depends}
Description: Python wrapper for Comedilib
 Comedilib is a library for using Comedi, a driver interface for data
 acquisition hardware.  See the libcomedi0 package for more information.

